.main-container {
	margin: 0 20px 30px 20px;
}

.nav, .footer{
	height: 100px;
	margin-top: 30px;
	background-color: #04bfd0;
}

.hero {
	margin-top: 30px;
	height: 250px;
	background-color: #04bfd0;
}

.cards div {
	height: 250px;
	width: 500px;
	margin-top: 30px;
	background-color: #04bfd0;

/*	flex-direction: row;*/
}

.cards {
	display: flex;
	justify-content: space-between;

}

